@import "tailwindcss";

@font-face {
  font-family: primary;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: primaryBold;
  src: url(../public/fonts/Lausanne-500.woff2);
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink {
  opacity: 0;
  transition: all ease 0.5s;
}

.link:hover .moveLink {
  opacity: 1;
}

.menuBox:hover .menuBoxLine {
  background-color: black;
}
